    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2023 Sava Reyhano.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/jquery/jquery.min.js"></script>
<!-- Bootstrap 5 -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Html5-QRCode -->
<script src="/html5-qrcode/html5-qrcode.min.js"></script>
<!-- Select2 -->
<script src="/select2/js/select2.full.min.js"></script>
<!-- PDFmake -->
<script src="/pdfmake/pdfmake.min.js"></script>
<script src="/pdfmake/vfs_fonts.js"></script>
<!-- DataTables & Plugins -->
<script src="/datatables.net/js/dataTables.min.js"></script>
<script src="/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin-lte/js/adminlte.min.js"></script>
<!-- Print QR Code script -->
<script src="/js/printQR.js"></script>
<!-- Html5 QR Code script -->
<script src="/js/html5-qrcode.js"></script>
<!-- Select2 script -->
<script src="/js/select2.js"></script>
<!-- DataTables script -->
<script src="/js/datatables.js"></script>
<!-- Page specific script -->
<script>
  var darkSwitch = document.getElementById("darkSwitch");
  function dark() {
    $('body').addClass('dark-mode');
    $('.main-header').removeClass('navbar-white navbar-light').addClass('navbar-dark');
  }
  function light() {
    $('body').removeClass('dark-mode');
    $('.main-header').removeClass('navbar-dark').addClass('navbar-white navbar-light');
  }
  function initTheme() {
    var darkThemeSelected =
      localStorage.getItem("darkSwitch") !== null &&
      localStorage.getItem("darkSwitch") === "dark";
    darkSwitch.checked = darkThemeSelected;
    darkThemeSelected
      ? dark()
      : light()
  }
  function resetTheme() {
    if (darkSwitch.checked) {
      dark()
      localStorage.setItem("darkSwitch", "dark");
    } else {
      light()
      localStorage.removeItem("darkSwitch");
    }
  }
</script>
</body>
</html>
