<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= locals.title ? title : "Items Stock" %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/fontawesome-free/css/fontawesome.min.css">
  <link rel="stylesheet" href="/fontawesome-free/css/solid.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/select2/css/select2.min.css">
  <link rel="stylesheet" href="/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css">
  <link rel="stylesheet" href="/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin-lte/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head> 
<body class="hold-transition sidebar-mini">
  <script>
    window.addEventListener("load", function () {
      if (darkSwitch) {
        initTheme();
        darkSwitch.addEventListener("change", function () {
          resetTheme();
        });
      }
    });
  </script>